<nav class="navbar navbar-expand-lg navbar-light sticky-top">
  <a class="navbar-brand" href="/">PeddleCars</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form action="/cars" class="form-inline mx-auto my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search for a city" name="query" aria-label="Search">

    </form>
    <ul class="navbar-nav ml-auto">
      <% if user_signed_in? %>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <%= current_user.name %>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <%= link_to 'Dashboard', dashboard_path, class: 'dropdown-item' %>
          <%= link_to 'Upload a car', new_car_path, class: 'dropdown-item' %>
          <div class="dropdown-divider"></div>
          <%= link_to 'Signout', destroy_user_session_path, method: :delete, class: 'dropdown-item' %>
        </div>
      </li>
      <li class="nav-item active">
        <% if current_user.photo.attached? %>
          <%= cl_image_tag current_user.photo.key, crop: :thumb, gravity: :face, width: 50, height: 50, class: 'rounded-circle' %>
        <% else %>
          <img src="https://image.flaticon.com/icons/svg/847/847969.svg" class="rounded-circle" width="50px" alt="">
        <%end%>
      </li>
      <% else %>
      <li class="nav-item active">
        <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-danger' %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Sign up', new_user_registration_path, class: 'ml-2 btn btn-danger' %>
      </li>
      <% end %>
    </ul>
  </div>
</nav>
