<div class="container">
  <div class="row">
     <h2 class="col-12 mt-4">Uploaded cars</h2>
      <% current_user.cars.each do |c| %>
    <div class="col-sm-12 col-md-6 col-lg-4 my-2 card-col">
    <%= link_to c do %>
      <div style="height: 550px" class="card-car">
       <div style="background-image: url(<%= c.photos.first.service_url %>);" class="card-top">
        </div>
        <div class="card-bottom">
        <h5 class="ml-1 card-title"><%= c.name %> <strong>·</strong> <%= c.city.name%></h5>
        <div class="card-details-holder">
          <p class="card-details">
          <img width=30px src="https://image.flaticon.com/icons/svg/2061/2061870.svg" alt="">
          <%= c.transmission %> <strong>·</strong>
          <img width=30px src="https://image.flaticon.com/icons/svg/2917/2917696.svg" alt="">
          <%= c.seats %>
          </p>
          <p class="m-1 card-details"> <strong>$<%= c.price %>/Day</strong> </p>

        </div>
        <div class="buttons">
        <%= link_to 'Edit', edit_car_path(c), class: 'btn btn-info' %>
        <%= link_to 'Delete', car_path(c), method: :delete, class: 'btn btn-danger' %>
        </div>
        </div>
     </div>
    </div>
    <% end %>
  <% end %>
  </div>
</div>
