<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://files.porsche.com/filestore/image/multimedia/none/rd-2019-homepage-banner-ww-taycantop-kw47/normal/320c6d98-055c-11ea-80c6-005056bbdc38/porsche-normal.jpg);">
  <div class="container">
    <h1><strong>A ride to heaven</strong></h1>
    <p>New Collection of Sports Cars. Be faster than the Wagon</p>
   <!--  <a class="btn btn-flat" href="#">Apply now</a> -->
  </div>
</div>
<br>
<br>

<div class="container">
  <div class="row">
  <h2 class="col-12">The most recent cars</h2>
  <% @cars.each do |c| %>
    <div class="col-sm-12 col-md-6 col-lg-4 my-2 card-col">
    <%= link_to c do %>
      <div class="card-car">
       <div style="background-image: url('https://images.unsplash.com/photo-1542362567-b07e54358753?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80');" class="card-top">
        </div>
        <div class="card-bottom">
        <h5 class="ml-1 card-title"><%= c.name %> <strong>·</strong> <%= c.city.name%></h5>
        <div class="card-details-holder">
          <p class="card-details">
          <img width=30px src="https://image.flaticon.com/icons/svg/2061/2061870.svg" alt="">
          <%= c.transmission %> <strong>·</strong>
          <img width=30px src="https://image.flaticon.com/icons/svg/2917/2917696.svg" alt="">
          <%= c.seats %>
          </p>
          <p class="m-1 card-details"> <strong>$<%= c.price %>/Day</strong> </p>
        </div>
        </div>
     </div>
    </div>
    <% end %>
  <% end %>
  </div>
<br>
<hr>
<br>


  </div>
</div>

<div class="container">
  <div class="row">
    <h2 class="col-12">Reviews</h2>
    <div class="col-sm-12">
      <div class="notification">
        <img src='https://kitt.lewagon.com/placeholder/users/arthur-littm' class="avatar-large" />
        <div class="notification-content">
          <p><small>14th June</small></p>
          <p>PeddleCars is greate. It is so easy to use, the cars I have used are greate and the webapp is fantastic!.</p>
        </div>
      </div>
  </div>
</div>






<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    For more information please email us: peddlecars@me.com
  </div>
</div>
