<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<div class="container my-3">
  <div class="row">
    <div class="col-12" style="display: flex; justify-content: space-between;">
      <div>
        <h2><%= @car.brand %> · <%= @car.name %></h2>
        <p class="subtitle" >Available in <%= link_to @car.city.name, "/cars?query=#{@car.city.name}" %></p>
      </div>
      <div>
        <% if @favorite && @favorite.user == current_user %>
        <%= link_to favorite_path(@favorite), method: :delete do %>
          <i style="color: red" class="fas fa-heart"></i>
          <% end %>
      <% else %>
          <%= link_to car_favorites_path(@car), method: :post do %>
          <i style="color: red" class="far fa-heart"></i>
          <% end %>
        </p>
      <% end %>
      </div>
    </div>
  </div>

<div class="show-banner rounded">
  <% if @car.photos.present? %>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <%  @car.photos.each_with_index do |c, index| %>
          <div class="carousel-item <%= index == 0 ? 'active' : '' %>">
          <%=  cl_image_tag c.key, class: 'd-block image img-fluid rounded' %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  <% else %>
    <img src="https://source.unsplash.com/random" class="image img-fluid rounded" alt="">
  <% end %>
</div>


<div class="row my-3">
  <div class="col-sm-12 col-lg-8">
    <h2>Car offered by <%= @car.user.name %></h2>
    <p><%= @car.seats %> seats · <%= @car.trunk %> Trunk space</p>
    <hr>
    <p>
      <strong>Description:</strong> <br>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut sit rem, mollitia, consequatur cumque fuga quia fugit porro alias.
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aut amet cumque alias, tenetur voluptatibus corporis animi esse, distinctio ratione.
    </p>
  </div>
  <div class="col">
    <div class="profile-box text-center mx-auto">
      <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="..." class="avatar img-fluid img-space">
        <hr>
        <p><%= @car.user.name %></p>
        <hr>
        <%= simple_form_for([@car, @booking]) do |f| %>
          <input type="text" placeholder="Start date - End date" name='startdate' id="start-date" class="form-control flatpickr mb-3" required>
          <%= f.submit "Book now - $#{@car.price}/day", class: 'btn btn-danger form-control' %>
        <% end %>
    </div>
  </div>
</div>

  <div>
  <div id="map"
     style="width: 100%; height: 600px;"
     data-markers="<%= @markers.to_json %>"
     data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>

<hr>





  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      For more information please email us: peddlecars@me.com
    </div>
  </div>

</div>
