<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<div class="container my-2">
  <div class="row">
    <div class="col-8">
      <h2><%= @car.brand %> · <%= @car.name %></h2>
      <p>Available in <%= link_to @car.city.name, "/cars?query=#{@car.city.name}" %></p>
    </div>
    <div class="col">
      <% if @favorite && @favorite.user == current_user %>
      <a class="">Already added</a>
      <% else %>
          <%= link_to 'Add to favorites', car_favorites_path(@car), method: :post, class: 'text-right' %></p>
      <% end %>
    </div>
  </div>
  <div class="show-banner rounded">
    <%  @car.photos.each do |c| %>
      <%=  cl_image_tag c.key, class: 'image img-fluid rounded' %>
    <% end %>
    <img src="https://source.unsplash.com/random" class="image rounded" alt="">
  </div>
  <div class="row mt-3">
    <div class="col-8">
      <h2>Car offered by <%= @car.user.email %></h2>
      <p><%= @car.seats %> seats · <%= @car.trunk %> Trunk space</p>
      <hr>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium ut sit rem, mollitia, consequatur cumque fuga quia fugit porro alias.
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe aut amet cumque alias, tenetur voluptatibus corporis animi esse, distinctio ratione.
      </p>
    </div>
    <div class="col ">
      <div class="profile-box text-center mx-auto sticky">
        <img src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=934&q=80" alt="..." class="avatar img-fluid">
        <hr>
        <p><%= @car.user.email %></p>
        <hr>
        <%= simple_form_for([@car, @booking]) do |f| %>
          <input type="text" placeholder="Start date - End date" name='startdate' id="start-date" class="form-control flatpickr mb-3">
          <%= f.submit "Book now - $#{@car.price}/day", class: 'btn btn-danger form-control' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
